<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="NodeFullPath" value="D:\_Local_Repositories\PlayChain\Source\PlayChain\PayChain.Node\bin\Debug\netcoreapp2.0"/>
       <add key="cmdPath" value="C:\Windows\System32\cmd.exe"/>
      <add key ="NodeDllName" value="PayChain.Node.dll"/>
    </appSettings>
</configuration>